body {
    background: #f5f7fa;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 900px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boton-agregar {
    background: #4CAF50;
    color: white;
    align-self: column;
}

.boton-agregar:hover { background: #126316; }



#mensaje-vacio {
    text-align: center;
    padding: 20px;
    color: #000000;
    font-style: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.popUp {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    /* justify-content: center; 
    align-items: center;     */ 

}

.popUp-contenido {
    background: #fff;
    margin: auto;
    /* margin-top: 1%; */
    padding: 2rem;
    width: 90%;
    max-width:  300px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.popUp-contenido textarea {
    width: 95%;
    height: 80px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 14px;
}

.popUp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.cerrar {
    font-size: 2rem;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #444;
    }

.btn {
    padding: 10px 18px;
    border: none; 
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    text-decoration: none;
    display: inline-block;
}

.popUp-contenido .boton-cerrar {
    background: #4CAF50;       
}

.popUp-contenido .boton-cerrar:hover {
    background: #126316;
}