.popUp {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    /* justify-content: center; 
    align-items: center;     */ 

}

.popUp-contenido {
    background: #fff;
    margin: auto;
    padding: 2rem;
    width: 30%;
}

.cerrar {
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

textarea[name="descripcion"] {
    width: 100%;
    min-height: 6rem;  
    max-height: 20rem; 
}